@mixin tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin larger {
  @media screen and (min-width: 1920px) {
    @content;
  }
}
