// Colors
$blue: #0038a8;
$indigo: #002366;
$purple: #7851a9;
$pink: #e73895;
$fuchsia: #d00060;
$red: #9b1c31;
$orange: #f99245;
$yellow: #fada5e;
$green: #136207;
$cyan: #4169e1;
$brown: #523b35;
$white: #efeffa;
