<template>
  <section :class="{ center, fluid }">
    <slot />
  </section>
</template>

<script>
export default {
  name: "AppContainer",
  props: {
    center: Boolean,
    fluid: Boolean
  }
}
</script>

<style lang="scss" scoped>
section {
  display: flex;
  margin: 1rem auto;
  max-width: 800px;
  flex-wrap: wrap;
}
.center {
  justify-content: center;
}
.fluid {
  max-width: unset;
}
</style>