<template>
  <footer>
    <div><slot /> &copy; {{ year }}</div>
    <small>
      <ul>
        <li>
          <new-tab disabled to="/terms-conditions">
            Terms and Conditions
          </new-tab>
        </li>
        <li><new-tab disabled to="/privacy-policy">Privacy Policy</new-tab></li>
        <li>
          <new-tab disabled to="/service-agreement">Service Agreement</new-tab>
        </li>
      </ul>
    </small>
  </footer>
</template>

<script>
import NewTab from "Components/NewTab"
export default {
  name: "AppFooter",
  components: { NewTab },
  props: {
    year: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
footer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  min-height: 2rem;
  width: 100vw;
  bottom: 0;
  background-color: mix(white, black, 10%);
  align-items: center;
  justify-content: space-between;
  @include laptop {
    padding: 0 5rem;
  }
}
div {
  padding: 0 1rem;
  color: mix(black, $white, 10%);
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
  padding: 0 1rem;
}
</style>