<template>
  <nav>
    <nav-link id="brand" href="/home">CIMS</nav-link>
    <h1>{{ name }}</h1>
    <nav-toggle />
    <div :class="{ navHidden }">
      <ul>
        <li><nav-link href="/home">Home</nav-link></li>
        <li><nav-link disabled href="/my-account">My Account</nav-link></li>
        <hr class="hidden" />
        <h3 class="hidden">Client Management</h3>
        <li class="hidden">
          <nav-link disabled href="/clients">Clients</nav-link>
        </li>
        <li class="hidden">
          <nav-link disabled href="/contracts">Contracts</nav-link>
        </li>
        <hr class="hidden" />
        <h3 class="hidden">Service Management</h3>
        <li class="hidden">
          <nav-link disabled href="/services">Services</nav-link>
        </li>
        <li class="hidden">
          <nav-link disabled href="/pricing">Pricing</nav-link>
        </li>
        <hr class="hidden" />
        <h3 class="hidden">Agency Management</h3>
        <li class="hidden">
          <nav-link disabled href="/agencies">Agencies</nav-link>
        </li>
        <hr class="hidden" />
        <h3 class="hidden">User Management</h3>
        <li class="hidden">
          <nav-link disabled href="/users">Users</nav-link>
        </li>
        <li class="hidden">
          <nav-link disabled href="/roles">Roles</nav-link>
        </li>
        <hr class="hidden" />
        <h3 class="hidden">System Management</h3>
        <li class="hidden">
          <nav-link href="/security">Security</nav-link>
        </li>
        <li class="hidden">
          <nav-link href="/audit-trails">Audit Trails</nav-link>
        </li>
        <hr class="hidden" />
        <li><nav-link disabled href="/logout">Logout</nav-link></li>
      </ul>
    </div>
  </nav>
</template>

<script>
import NavToggle from "Components/NavToggle"
import NavLink from "Components/NavLink"
import { mapState } from "vuex"
export default {
  name: "AppNavbar",
  props: {
    brandName: {
      type: String,
      required: true
    }
  },
  components: { NavToggle, NavLink },
  computed: {
    ...mapState(["navHidden"]),
    name() {
      return this.brandName.toUpperCase()
    }
  }
}
</script>

<style lang="scss" scoped>
hr {
  border-color: mix(black, $yellow, 10%);
  border-radius: 50%;
}
h3 {
  color: mix(black, $white, 10%);
  margin: 0;
}
nav {
  display: flex;
  flex-wrap: wrap;
  height: 4rem;
  background-color: $indigo;
  justify-content: space-between;
  @include laptop {
    padding: 0 5rem;
  }
}
#brand {
  width: 4rem;
  height: calc(4rem - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
h1 {
  color: goldenrod;
  margin: 0.5rem;
  @include laptop {
    display: none;
  }
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: calc(100vh - 4rem);
  transition: height 300ms ease-out;
  background-color: mix(transparent, $indigo, 5%);
  z-index: 1;
  @include laptop {
    height: auto;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: flex-end;
    overflow: hidden;
    > li {
      flex-basis: 5rem;
      text-align: center;
    }
  }
  &::-webkit-scrollbar {
    height: calc(100vh - 4rem);
    width: 0.5rem;
    border-radius: 5px;
    background: mix(transparent, gray, 50%);
    @include laptop {
      display: none;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: $yellow;
    border-radius: 5px;
  }
}
ul {
  padding: 1rem 0;
  margin: 0;
  @include laptop {
    display: flex;
    justify-content: space-around;
    width: 15rem;
  }
}
.hidden {
  @include laptop {
    display: none;
  }
}
.navHidden {
  height: 0;
  @include laptop {
    height: auto;
  }
}
li {
  list-style-type: none;
  padding: 0.2rem 0;
  @include laptop {
    padding: 0 0.25rem;
  }
}
#mobile-logo {
  display: block;
  padding: 0.5rem;
  @include laptop {
    display: none;
  }
}
#center-logo {
  display: none;
  @include laptop {
    display: block;
    padding: 0 1rem;
  }
}
</style>
