<template>
  <nav :class="{ hidden }">
    <button :class="{ hidden }" @click="toggle">
      <fa v-bind="{ icon }" size="2x" />
    </button>
    <ul>
      <h3>Client Management</h3>
      <li><nav-link disabled href="/clients">Clients</nav-link></li>
      <li><nav-link disabled href="/contracts">Contracts</nav-link></li>
    </ul>
    <ul>
      <h3>Service Management</h3>
      <li><nav-link disabled href="/services">Services</nav-link></li>
      <li><nav-link disabled href="/pricing">Pricing</nav-link></li>
    </ul>
    <ul>
      <h3>Agency Management</h3>
      <li><nav-link disabled href="/agencies">Agencies</nav-link></li>
    </ul>
    <ul>
      <h3>User Management</h3>
      <li><nav-link disabled href="/users">Users</nav-link></li>
      <li><nav-link disabled href="/roles">Roles</nav-link></li>
    </ul>
    <ul>
      <h3>System Management</h3>
      <li><nav-link href="/security">Security</nav-link></li>
      <li><nav-link href="/audit-trails">Audit Trails</nav-link></li>
    </ul>
  </nav>
</template>

<script>
import NavLink from "Components/NavLink"
export default {
  name: "AppSidebar",
  components: { NavLink },
  methods: {
    toggle() {
      this.hidden = !this.hidden
      this.icon = this.hidden ? "angle-right" : "angle-left"
    }
  },
  data() {
    return {
      hidden: true,
      icon: "angle-right"
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  display: none;
  @include laptop {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: -1.5rem;
    height: 3rem;
    width: 1.5rem;
    color: $yellow;
    background: mix(transparent, black, 10%);
    border: 0 solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
nav {
  display: none;
  @include laptop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20rem;
    padding: 1rem;
    background: mix(transparent, black, 10%);
    z-index: 1;
    transition: all 300ms ease;
  }
}
ul {
  display: none;
  @include laptop {
    display: block;
    opacity: 1;
    transition: opacity 150ms ease;
    transition-delay: 300ms;
    > li {
      padding-left: 1rem;
    }
  }
}
.hidden {
  background: black;
}
nav.hidden {
  width: 0.5rem;
  padding: 0;
  > ul {
    opacity: 0;
    transition: opacity 150ms ease;
    transition-delay: unset;
  }
}
h3 {
  color: mix(black, $white, 10%);
  margin: 0;
}
</style>