<template>
  <button v-bind="{ type }" :class="{ center, active }" v-on="{ click }">
    <slot />
  </button>
</template>

<script>
export default {
  name: "BaseButton",
  props: {
    type: {
      type: String,
      default: "button"
    },
    center: Boolean,
    active: Boolean
  },
  methods: {
    click() {
      this.$emit("click")
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  display: flex;
  position: relative;
  color: $white;
  border-width: 0;
  border-radius: 5px;
  border-style: solid;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  width: fit-content;
  background-color: $blue;
  outline: none;
  user-select: none;
}
button:hover {
  background-color: mix(white, $blue, 10%);
}
.center {
  margin: 0.5rem auto;
}
.active {
  color: $indigo;
  font-size: 1rem;
  background-color: $yellow;
  border: 1px solid $indigo;
}
.active:hover {
  cursor: default;
  background-color: $yellow;
}
</style>
