<template>
  <a v-if="disabled" @click.prevent class="disabled">
    <fa v-bind="{ icon }" size="4x" />
    <h3><slot /></h3>
  </a>
  <a v-else v-bind="{ href }">
    <fa v-bind="{ icon }" size="4x" />
    <h3><slot /></h3>
  </a>
</template>

<script>
export default {
  name: "BaseTile",
  props: {
    icon: {
      type: String,
      required: true
    },
    disabled: Boolean
  },
  mounted() {
    this.url = this.getUrl()
  },
  computed: {
    href() {
      return "/" + this.url
    }
  },
  methods: {
    getUrl() {
      return this.$el
        .querySelector("h3")
        .innerText.toLowerCase()
        .split(" ")
        .join("-")
    }
  },
  data() {
    return {
      url: "/"
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $indigo;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  border-radius: 5px;
  color: $indigo;
  background-color: $yellow;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: $yellow;
  background-color: $indigo;
}
h3 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
svg {
  margin-top: 0.5rem;
}
.disabled {
  color: dimgray;
  border-color: gray;
  background-color: gray;
  &:hover {
    cursor: default;
    color: dimgray;
    background-color: gray;
  }
}
</style>