<template>
  <form method="POST" v-bind="{ action }">
    <slot />
  </form>
</template>

<script>
import { mapState } from "vuex"
export default {
  name: "BaseForm",
  props: {
    action: {
      type: String,
      required: true
    }
  },
  methods: {
    submit() {
      this.$store.dispatch("register", this.$store.state.register)
    }
  }
}
</script>