<template>
  <header>
    <h2>{{ title }}</h2>
    <hr />
    <p><slot /></p>
  </header>
</template>

<script>
export default {
  name: "BaseHeader",
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  margin: 0 1rem 1rem;
}
h2 {
  margin: 0;
  color: $indigo;
}
p {
  margin: 0;
}
</style>