<template>
  <div class="root">
    <div class="wrapper">
      <table>
        <thead>
          <table-header
            v-for="col in cols"
            :key="col.id"
            @sort="sort(col)"
            :sortable="col.sort"
          >
            {{ col.name }}
          </table-header>
        </thead>
        <tbody>
          <tr v-for="item in pageItems" :key="item.id">
            <td
              v-for="col in cols"
              :key="col.id"
              :class="{ desc: checkDesc(col) }"
            >
              <span v-if="checkDesc(col)">{{ item[col.in_db] }}</span>
              <span v-else-if="checkId(col)">{{ fkCell(col, item) }}</span>
              <span v-else>{{ item[col.in_db] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <menu>
      <base-button
        v-for="index in pageCount"
        @click="changePage(index)"
        :active="index === currentPage"
        :key="index"
      >
        {{ index }}
      </base-button>
    </menu>
  </div>
</template>

<script>
import BaseButton from "Components/BaseButton"
import TableHeader from "Components/TableHeader"
export default {
  name: "DataTable",
  components: {
    BaseButton,
    TableHeader
  },
  props: {
    columns: {
      type: String,
      required: true
    },
    data: {
      type: String,
      required: true
    }
  },
  methods: {
    sort(col) {
      this.asc = !this.asc
      this.items = this.items.sort((a, b) => {
        if (a[col.in_db] > b[col.in_db]) return this.asc ? 1 : -1
        if (a[col.in_db] < b[col.in_db]) return this.asc ? -1 : 1
        return 0
      })
    },
    checkId(col) {
      return col.in_db.endsWith("_id")
    },
    checkDesc(col) {
      return col.in_db === "description"
    },
    fkCell(col, item) {
      return item[col.in_db.split("_")[0]].name
    },
    changePage(index) {
      this.currentPage = index
    }
  },
  computed: {
    pageItems() {
      const end = this.rowCount * this.currentPage
      const start = end - this.rowCount
      return this.items.slice(start, end)
    },
    pageCount() {
      return Math.ceil(this.items.length / this.rowCount)
    }
  },
  data() {
    return {
      cols: JSON.parse(this.columns),
      items: JSON.parse(this.data),
      asc: false,
      rowCount: 10,
      currentPage: 1
    }
  }
}
</script>

<style lang="scss" scoped>
.root {
  width: 100%;
  padding: 0 1rem;
}
.wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid $indigo;
  &::-webkit-scrollbar {
    width: calc(100vh - 4rem);
    height: 0.5rem;
    border-radius: 5px;
    background: mix(transparent, gray, 50%);
  }
  &::-webkit-scrollbar-thumb {
    background: $yellow;
    border-radius: 5px;
  }
}
table {
  width: 100%;
  font-size: 0.9rem;
}
th {
  color: $yellow;
  background-color: $indigo;
}
td {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  text-align: center;
}
tr {
  &:nth-child(2n) {
    background: lightgray;
  }
}
menu {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
button {
  cursor: pointer;
  color: $yellow;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0;
  margin-left: 0.5rem;
}
.desc {
  padding: 0;
  padding-left: 0.5rem;
  text-align: left;
  white-space: pre;
}
</style>
