<template>
  <label>
    <fa v-bind="{ icon }" size="lg" />
    <input type="checkbox" v-bind="{ name }" @click="sss" v-model="data" />
    <span>{{ label }}</span>
  </label>
</template>

<script>
import FormInput from "Components/FormInput"
export default {
  name: "FormCheckbox",
  components: {
    FormInput
  },
  props: {
    name: {
      type: String,
      required: true
    },
    label: String,
    amount: String,
    value: String
  },
  methods: {
    sss() {
      console.log(this.value)
    }
  },
  computed: {
    icon() {
      if (this.data) return "check-square"
      return ["far", "square"]
    }
  },
  data() {
    return {
      numberData: parseInt(this.amount),
      data: this.value
    }
  }
}
</script>

<style lang="scss" scoped>
label {
  margin: 0.5rem;
}
svg {
  color: $blue;
  margin-right: 0.5rem;
}
input {
  display: none;
}
</style>
