<template>
  <label v-if="type === 'number'">
    <button type="button" @click="decrement">
      <fa icon="minus" size="xs" />
    </button>
    <input
      class="number"
      v-bind="{ name }"
      v-model="amount"
      @click="removeZero"
      @blur="returnZero"
      @keypress="filter"
      pattern="^[0-9]+$"
    />
    <button type="button" @click="increment">
      <fa icon="plus" size="xs" />
    </button>
  </label>
  <label v-else>
    <input
      :class="{ float }"
      v-bind="{ name, type, required, autofocus }"
      v-on="{ focus, blur }"
      v-model="data"
    />
    <fa :class="{ float }" v-bind="{ icon }" size="lg" />
    <span :class="{ float }">{{ placeholder }}</span>
  </label>
</template>

<script>
import store from "Store"
export default {
  name: "FormInput",
  props: {
    name: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: "text"
    },
    icon: String,
    placeholder: String,
    required: Boolean,
    autofocus: Boolean,
    min: {
      type: String,
      default: "0"
    },
    max: {
      type: String,
      default: "100"
    },
    value: {
      type: String,
      default: "0"
    }
  },
  methods: {
    focus() {
      this.float = true
    },
    blur() {
      if (!this.data) this.float = false
    },
    removeZero() {
      if (this.amount === 0) this.amount = ""
    },
    returnZero() {
      if (!this.amount) this.amount = 0
    },
    filter(e) {
      if (isNaN(Number(e.key))) e.preventDefault()
      if (!this.amount && e.key === "0") e.preventDefault()
    },
    increment() {
      if (this.amount < this.max) this.amount++
    },
    decrement() {
      if (this.amount > this.min) this.amount--
    }
  },
  data() {
    return {
      float: false,
      amount: parseInt(this.value),
      data: this.$store.state.form[this.name]
    }
  }
}
</script>

<style lang="scss" scoped>
label {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0.25rem 0.5rem;
  width: fit-content;
  > svg {
    position: absolute;
    margin-left: 1rem;
    animation: all 150ms ease;
  }
}
button {
  display: flex;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: $white;
  cursor: pointer;
  background-color: $yellow;
  font-weight: bold;
  border: 0 solid;
  &:nth-of-type(1) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid $indigo;
    border-left: 1px solid $indigo;
    border-bottom: 1px solid $indigo;
    outline: none;
    &:focus {
      border: 2px solid mix(white, $cyan, 25%);
    }
  }
  &:nth-of-type(2) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid $indigo;
    border-right: 1px solid $indigo;
    border-bottom: 1px solid $indigo;
    outline: none;
    &:focus {
      border: 2px solid mix(white, $cyan, 25%);
    }
  }
  > svg {
    color: $indigo;
  }
}
.number {
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  border: 1px solid $indigo;
  background-color: white;
  outline: none;
  &:focus {
    border: 2px solid mix(white, $cyan, 25%);
  }
}
input:not(.number) {
  width: 15rem;
  height: 3.5rem;
  padding-left: 3rem;
  padding-top: 1rem;
  border-width: 0;
  border-radius: 5px;
  border-style: solid;
  color: white;
  background-color: rgba(2, 2, 2, 0.05);
}
span {
  position: absolute;
  top: 50%;
  left: 3rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
input:not(.number).float {
  outline: none;
  background-color: $blue;
  caret-color: white;
  box-shadow: 0 0 3px gray;
}
svg.float {
  color: $yellow;
}
span.float {
  top: 1rem;
  color: $yellow;
  font-size: 0.75rem;
}
</style>
