<template>
  <a v-if="disabled" @click.prevent class="disabled">
    <slot />
  </a>
  <a v-else v-bind="{ href }" :class="dark">
    <slot />
  </a>
</template>

<script>
export default {
  name: "NavLink",
  props: {
    href: {
      type: String,
      required: true,
      validator: value => /^\//.test(value)
    },
    plain: Boolean,
    dark: Boolean,
    disabled: Boolean
  },
  computed: {
    class() {
      return {
        dark: this.dark
      }
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  color: $yellow;
  text-decoration: none;
  &:hover {
    color: $orange;
  }
}
a.active {
  font-weight: bold;
  &:hover {
    color: goldenrod;
  }
}
.dark {
  color: white;
}
.disabled {
  color: gray;
  text-decoration: line-through;
}
</style>
