<template>
  <button @click="toggle">
    <span>
      <fa icon="bars" size="2x" color="goldenrod" />
    </span>
  </button>
</template>

<script>
export default {
  name: "NavToggle",
  methods: {
    toggle() {
      this.$store.dispatch("toggleNav")
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  width: 4rem;
  background-color: transparent;
  border: none;
  @include laptop {
    display: none;
  }
}
</style>
