<template>
  <a v-if="disabled" @click.prevent class="disabled">
    <slot />
  </a>
  <a v-else :href="to" target="_blank" rel="noopener noreferrer">
    <slot />
  </a>
</template>

<script>
export default {
  name: "NewTab",
  props: {
    to: String,
    disabled: Boolean
  }
}
</script>

<style lang="scss" scoped>
.disabled {
  color: gray;
  text-decoration: line-through;
}
</style>