<template>
  <th>
    <button :class="{ sortable }" @click="toggle" @blur="reset">
      <slot /> <fa v-if="sortable" v-bind="{ icon }" />
    </button>
  </th>
</template>

<script>
export default {
  name: "TableHeader",
  props: {
    sortable: Boolean
  },
  methods: {
    toggle() {
      if (this.sortable) {
        this.$emit("sort")
        this.asc = !this.asc
        if (this.asc) {
          this.icon = "sort-up"
        } else {
          this.icon = "sort-down"
        }
      }
    },
    reset() {
      if (this.sortable) this.icon = "sort"
    }
  },
  data() {
    return {
      asc: false,
      icon: "sort"
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  color: inherit;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border: 0 solid;
  background-color: transparent;
  position: relative;
  padding: 0.5rem;
  user-select: none;
  word-break: keep-all;
  white-space: nowrap;
  outline: none;
}
.sortable {
  cursor: pointer;
}
</style>